# Ignorar configuración del entorno virtual
.venv/

# Ignorar configuración de PyCharm / IntelliJ
.idea/

# Otros archivos comunes que puedes querer ignorar
__pycache__/
*.pyc
*.pyo
*.log
.env

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/data/resultados/*
!/data/resultados/.gitkeep
/data/uploads/*
!/data/uploads/.gitkeep